* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  gap: 20px;
}

.input {
  padding: 10px;
  border: 1px solid gray;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
}
